body {
  padding: 0;
  margin: 0;
  font-family: monospace;
}

#navbar {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  height: 10vh;
  z-index: 10000;
  box-shadow: 0px 1px 10px black, 0px 1px 10px cyan;
}
#navbar div {
  margin-left: auto;
}
.nav-link {
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: 1.6rem;
  text-decoration: none;
  color: white;
}

.navbar-brand {
  font-size: 2rem;
}

@media (max-width: 787px) {
  #navbar {
    flex-direction: column;
    height: auto;
  }
  #navbar div {
    margin-left: unset;
    padding-bottom: 1rem;
  }
  #navbar div .nav-link {
      margin: 0;
      font-size: 1.2rem;
  }
}
#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: cyan;
  height: 100vh;
}
#welcome-section h1 {
  position: fixed;
  left: 0;
  right: 0;
  font-size: 3rem;
  padding: 0.3rem;
  z-index: 2;
}

#welcome-section h1,
#projects h1 {
  text-shadow: 1px 5px 5px rgba(0, 0, 0, 0.4);
}
#projects {
  background-color: black;
  color: white;
  margin: 0;
  position: relative;
  z-index: 4;
  padding-top: 6rem;
  padding-bottom: 6rem;
}
#contact header h1,
#about header h1,
#projects header h1 {
  font-size: 2rem;
  border: 5px solid white;
  display: inline;
  padding: 0.6rem;
}
#projects header p {
  font-size: 1rem;
  margin-top: 2rem;
}
#projects header {
  text-align: center;
  padding: 1rem;
}

.container {
  display: flex;
  /* padding: 1rem; */
  flex-wrap: wrap;
  width: 100%;
}

.project-tile {
  color: white;
  width: 90%;
  margin-top: 1rem;
  border: 2px solid cyan;
  display: flex;
  flex-direction: row;
  padding: 1rem;
}
.project-image-container {
  width: 40vw;
  margin: 1rem;
  align-self: center;
}
.project-img {
  width: 100%;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.5), 0px 5px 10px 10px cyan;
}
.project-details h1 {
  text-decoration: underline;
  text-shadow: 5px 4px 10px white;
}
.project-details {
  width: 50%;
  border: 2px solid red;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  font-size: 1rem;
  align-self: center;
}
.project-image-container,
.project-details,
.btn {
  transition: all 0.3s ease;
}
.project-details:hover {
  background-color: aqua;
  color: black;
  border-color: black;
}

.project-details:hover .btn-link {
  background-color: black;
  color: white;
  border-color: black;
}

.project-links {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.btn {
  display: block;
  margin: 1rem;
  padding: 0.4rem;
  color: white;
  border: 1px solid white;
  text-decoration: none;
}

.btn:hover {
  background-color: white;
  color: black;
}

.project-details:hover .btn-link:hover {
  box-shadow: 1px 5px 10px black;
  border-radius: 4rem;
}

@media (max-width: 1024px) {
  .project-tile {
    flex-direction: column;
  }
  .project-details,
  .project-image-container {
    width: 90%;
  }
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

#contact,
#about {
  position: relative;
  z-index: 4;
  color: white;
  background-color: black;
  padding-top: 6rem;
  padding-bottom: 6rem;
  text-align: center;
  border-bottom: 4px solid cyan;
}

#about-details p {
  width: 80%;
  margin: auto;
  padding-top: 4rem;
  padding-bottom: 4rem;
  font-size: 1.2rem;
}

#about-details .btn {
  font-size: 1.2rem;
}

#tech-stack {
  padding: 2rem;
}
#tech-stack .stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#contact {
  background-color: cyan;
}

#contact header h1 {
  color: black;
  border-color: black;
  box-shadow: 1px 4px 10px black;
}

#contact .stack {
  margin-top: 2rem;
}
#contact .btn {
  font-size: 1.3rem;
  border-color: black;
  color: black;
}

#contact .btn:hover {
  box-shadow: 1px 4px 10px black;
}

footer {
  background-color: black;
  padding: 1rem;
  color: white;
  text-align: center;
}

footer a {
  color: cyan;
}
